@import "tailwindcss";

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 28px;
}

h3 {
  font-weight: 500;
  color: rgb(96, 94, 94);
  margin-bottom: 10px;
}

label {
  width: 200px;
}
